  <!-- / footer -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <!-- Bootstrap -->
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <!-- App -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>  
  <script src="{{ url_for('static', filename='js/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.plugin.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jPlayer/jquery.jplayer.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jPlayer/add-on/jplayer.playlist.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jPlayer/demo.js') }}"></script>
</body>
</html>
