{% extends "base.html" %}
{% block content %}
    <section id="content">
      <section class="vbox">
        <section class="w-f-md" id="bjax-target">
          <section class="hbox stretch">
            <!-- side content -->
            <aside class="aside bg-light dk" id="sidebar">
              <section class="vbox animated fadeInUp">
                <section class="scrollable hover">
                  <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                    <a href="genres.html" class="list-group-item">
                      All
                    </a>
                    <a href="genres.html" class="list-group-item active">
                      acoustic
                    </a>
                    <a href="genres.html" class="list-group-item">
                      ambient
                    </a>
                    <a href="genres.html" class="list-group-item">
                      blues
                    </a>
                    <a href="genres.html" class="list-group-item">
                      classical
                    </a>
                    <a href="genres.html" class="list-group-item">
                      country
                    </a>
                    <a href="genres.html" class="list-group-item">
                      electronic
                    </a>
                    <a href="genres.html" class="list-group-item">
                      emo
                    </a>
                    <a href="genres.html" class="list-group-item">
                      folk
                    </a>
                    <a href="genres.html" class="list-group-item">
                      hardcore
                    </a>
                    <a href="genres.html" class="list-group-item">
                      hip hop
                    </a>
                    <a href="genres.html" class="list-group-item">
                      indie
                    </a>
                    <a href="genres.html" class="list-group-item">
                      jazz
                    </a>
                    <a href="genres.html" class="list-group-item">
                      latin
                    </a>
                    <a href="genres.html" class="list-group-item">
                      metal
                    </a>
                    <a href="genres.html" class="list-group-item">
                      pop
                    </a>
                    <a href="genres.html" class="list-group-item">
                      pop punk
                    </a>
                    <a href="genres.html" class="list-group-item">
                      punk
                    </a>
                    <a href="genres.html" class="list-group-item">
                      reggae
                    </a>
                    <a href="genres.html" class="list-group-item">
                      rnb
                    </a>
                    <a href="genres.html" class="list-group-item">
                      rock
                    </a>
                    <a href="genres.html" class="list-group-item">
                      soul
                    </a>
                    <a href="genres.html" class="list-group-item">
                      world
                    </a>
                  </div>
                </section>
              </section>
            </aside>
            <!-- / side content -->
            <section>
              <section class="vbox">
                <section class="scrollable padder-lg">
                  <h2 class="font-thin m-b">Acoustic</h2>
                  <div class="row row-sm">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m1.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Tempered Song</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Miaow</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m2.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Morbi id neque quam</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Phasellus</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/a10.png') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Aliquam sollicitudin venenatis ipsum</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Malesuada</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m4.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Citudin venenatis ipsum ac</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Volutpat</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m5.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Vestibulum ullamcorper sodales nisi</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Mauris Qiaos</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m6.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Mauris convallis mauris at</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Neque</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m0.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Sodales nisi nec condimentum</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Augue</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m8.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Nisi nec condimentum</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Miaow</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m9.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Phasellus at ultricies nequ</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Volutpat</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m10.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Quis malesuada augue</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Feugiat</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m11.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Ipsum ac feugiat</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Quam AC</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m12.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Ullamcorper sodales nisi nec condimentu</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Convallis</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m13.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Tudin venenatis ulum ullamcorper</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Pellent Esque</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m14.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Sodales nisi nec condimentum</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Utricies</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m15.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Sec condimentum augue</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Quis Fox</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/a9.png') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Dimentum at pellentesque volutpat</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Suada</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m16.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Natis ipsum ac feugiat</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Monvallis</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                      <div class="item">
                        <div class="pos-rlt">
                          <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                              <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                            </div>
                          </div>
                          <a href="track-detail.html"><img src="{{ url_for('static', filename='images/m17.jpg') }}" alt="" class="r r-2x img-full"></a>
                        </div>
                        <div class="padder-v">
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis">Dimentum tesque volut icies neque</a>
                          <a href="track-detail.html" data-bjax data-target="#bjax-target" data-el="#bjax-el" data-replace="true" class="text-ellipsis text-xs text-muted">Londi Mentum</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="pagination pagination">
                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                  </ul>
                </section>                    
              </section>
            </section>
          </section>
        </section>
        <footer class="footer bg-info dker">
          <div id="jp_container_N">
                <div class="jp-type-playlist">
                  <div id="jplayer_N" class="jp-jplayer hide"></div>
                  <div class="jp-gui">
                    <div class="jp-video-play hide">
                      <a class="jp-video-play-icon">play</a>
                    </div>
                    <div class="jp-interface">
                      <div class="jp-controls">
                        <div><a class="jp-previous"><i class="icon-control-rewind i-lg"></i></a></div>
                        <div>
                          <a class="jp-play"><i class="icon-control-play i-2x"></i></a>
                          <a class="jp-pause hid"><i class="icon-control-pause i-2x"></i></a>
                        </div>
                        <div><a class="jp-next"><i class="icon-control-forward i-lg"></i></a></div>
                        <div class="hide"><a class="jp-stop"><i class="fa fa-stop"></i></a></div>
                        <div><a class="" data-toggle="dropdown" data-target="#playlist"><i class="icon-list"></i></a></div>
                        <div class="jp-progress hidden-xs">
                          <div class="jp-seek-bar dk">
                            <div class="jp-play-bar bg-info">
                            </div>
                            <div class="jp-title text-lt">
                              <ul>
                                <li></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="hidden-xs hidden-sm jp-current-time text-xs text-muted"></div>
                        <div class="hidden-xs hidden-sm jp-duration text-xs text-muted"></div>
                        <div class="hidden-xs hidden-sm">
                          <a class="jp-mute" title="mute"><i class="icon-volume-2"></i></a>
                          <a class="jp-unmute hid" title="unmute"><i class="icon-volume-off"></i></a>
                        </div>
                        <div class="hidden-xs hidden-sm jp-volume">
                          <div class="jp-volume-bar dk">
                            <div class="jp-volume-bar-value lter"></div>
                          </div>
                        </div>
                        <div>
                          <a class="jp-shuffle" title="shuffle"><i class="icon-shuffle text-muted"></i></a>
                          <a class="jp-shuffle-off hid" title="shuffle off"><i class="icon-shuffle text-lt"></i></a>
                        </div>
                        <div>
                          <a class="jp-repeat" title="repeat"><i class="icon-loop text-muted"></i></a>
                          <a class="jp-repeat-off hid" title="repeat off"><i class="icon-loop text-lt"></i></a>
                        </div>
                        <div class="hide">
                          <a class="jp-full-screen" title="full screen"><i class="fa fa-expand"></i></a>
                          <a class="jp-restore-screen" title="restore screen"><i class="fa fa-compress text-lt"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="jp-playlist dropup" id="playlist">
                    <ul class="dropdown-menu aside-xl dker">
                      <!-- The method Playlist.displayPlaylist() uses this unordered list -->
                      <li class="list-group-item"></li>
                    </ul>
                  </div>
                  <div class="jp-no-solution hide">
                    <span>Update Required</span>
                    To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                  </div>
                </div>
              </div>
        </footer>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
{% endblock %}
