<!DOCTYPE html>
<html lang="en" class="app">
<head>  
  <meta charset="utf-8" />
  <title>Musik | Web Application</title>
  <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='js/jPlayer/jplayer.flat.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-line-icons.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" type="text/css" />  
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/ie/html5shiv.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ie/excanvas.js') }}"></script>
  <![endif]-->
</head>
<body class="{{ body_class }}">