{% extends "base.html" %}
{% block content %}
		<section id="content">
			<section class="hbox stretch">
				<section>
					<section class="vbox">
						<section class="scrollable padder-lg w-f-md" id="bjax-target">
							<a href="#" class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin" ><i class="icon-refresh i-lg  inline" id="refresh"></i></a>
							<h2 class="font-thin m-b">Discover <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
								<span class="bar1 a1 bg-primary lter"></span>
								<span class="bar2 a2 bg-info lt"></span>
								<span class="bar3 a3 bg-success"></span>
								<span class="bar4 a4 bg-warning dk"></span>
								<span class="bar5 a5 bg-danger dker"></span>
							</span></h2>
							<div class="row row-sm">
							{% for recording in recordings %}
								<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
									<div class="item">
										<div class="pos-rlt">
											<div class="item-overlay opacity r r-2x bg-black">
												<div class="text-info padder m-t-sm text-sm">
												{% for ns in range(recording.stars) %}
													<i class="fa fa-star"></i>
												{% endfor %}
												{% for nns in range(5 - recording.stars) %}
													<i class="fa fa-star-o text-muted"></i>
												{% endfor %}
												</div>
												<div class="center text-center m-t-n">
													<a href="#" class="jp-play-me" ><i class="icon-control-play i-2x"></i></a>
			                    <div class="track-meta" style="display: None">
			                        <span class="meta-track-name">{{ recording.name }}</span>
			                        <span class="meta-track-artist">{{ recording.artist }}</span>
			                        <span class="meta-track-id">{{ recording.id }}</span>
			                        <span class="meta-track-cover">{{ recording.cover }}</span> 
			                    </div>
												</div>
												<div class="bottom padder m-b-sm">
													<a href="#" class="pull-right">
														<i class="fa fa-heart-o"></i>
													</a>
													<a href="#">
														<i class="fa fa-plus-circle"></i>
													</a>
												</div>
											</div>
											<a href="#"><img src="{{ url_for('static', filename=recording.cover) }}" alt="" class="r r-2x img-full"></a>
										</div>
										<div class="padder-v">
											<a href="#" class="text-ellipsis">{{ recording.name }}</a>
											<a href="#" class="text-ellipsis text-xs text-muted">{{ recording.artist }}</a>
										</div>
									</div>
								</div>
								{% if loop.index0%2 == 1 %}   
									<div class="clearfix visible-xs"></div>
								{% endif %}
								{% endfor %}
							</div>
							<div class="row">
								<div class="col-md-7">
									<h3 class="font-thin">New Songs</h3>

									<!-- NEW SONGS BEGIN -->

									<div class="row row-sm">


										{% for newsong in newsongs %}
										<div class="col-xs-6 col-sm-3">
											<div class="item">
												<div class="pos-rlt">
													<div class="item-overlay opacity r r-2x bg-black">
														<div class="center text-center m-t-n">
															<a href="#" class="jp-play-me"><i class="fa fa-play-circle i-2x"></i></a>
				                    <div class="track-meta" style="display: None">
				                        <span class="meta-track-name">{{ newsong.name }}</span>
				                        <span class="meta-track-artist">{{ newsong.artist }}</span>
				                        <span class="meta-track-id">{{ newsong.id }}</span>
				                        <span class="meta-track-cover">{{ newsong.cover }}</span> 
				                    </div>
														</div>
													</div>
													<a href="#"><img src="{{ url_for('static', filename=newsong.cover) }}" alt="" class="r r-2x img-full"></a>
												</div>
												<div class="padder-v">
													<a href="#" class="text-ellipsis">{{ newsong.name }}</a>
													<a href="#" class="text-ellipsis text-xs text-muted">{{ newsong.artist }}</a>
												</div>
											</div>
										</div>
										{% endfor %}

									</div>

									<!-- NEW SONGS END -->
								</div>
								<div class="col-md-5">
									<h3 class="font-thin">Top Songs</h3>
									<div class="list-group bg-white list-group-lg no-bg auto">                          
									{% for topsong in topsongs %}
										<a href="#" class="list-group-item clearfix jp-play-me">
											<span class="pull-right h2 text-muted m-l">{{ loop.index }}</span>
											<span class="pull-left thumb-sm avatar m-r">
												<img src="{{ url_for('static', filename=topsong.cover) }}" alt="...">
											</span>
											<span class="clear">
												<span>{{ topsong.name }}</span>
												<small class="text-muted clear text-ellipsis">by {{ topsong.artist }} Fox</small>
											</span>
										</a>
	                  <div class="track-meta" style="display: None">
	                      <span class="meta-track-name">{{ topsong.name }}</span>
	                      <span class="meta-track-artist">{{ topsong.artist }}</span>
	                      <span class="meta-track-id">{{ topsong.id }}</span>
	                      <span class="meta-track-cover">{{ topsong.cover }}</span> 
	                  </div>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="row m-t-lg m-b-lg">
								<div class="col-sm-6">
									<div class="bg-primary wrapper-md r">
										<a href="#">
											<span class="h4 m-b-xs block"><i class=" icon-user-follow i-lg"></i> Login or Create account</span>
											<span class="text-muted">Save and share your playlist with your friends when you log in or create an account.</span>
										</a>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="bg-black wrapper-md r">
										<a href="#">
											<span class="h4 m-b-xs block"><i class="icon-cloud-download i-lg"></i> Download our app</span>
											<span class="text-muted">Get the apps for desktop and mobile to start listening music at anywhere and anytime.</span>
										</a>
									</div>
								</div>
							</div>
						</section>
						<footer class="footer bg-dark">
							{% include "jplayer.html" %}
						</footer>
					</section>
				</section>
				<!-- side content -->
				<!--aside class="aside-md bg-light dk" id="sidebar">
					<section class="vbox animated fadeInRight">
						<section class="w-f-md scrollable hover">
							<h4 class="font-thin m-l-md m-t">Connected</h4>
							<ul class="list-group no-bg no-borders auto m-t-n-xxs">
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a1.png') }}" alt="..." class="img-circle">
										<i class="on b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Chris Fox</a></div>
										<small class="text-muted">New York</small>
									</div>
								</li>
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a2.png') }}" alt="...">
										<i class="on b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Amanda Conlan</a></div>
										<small class="text-muted">France</small>
									</div>
								</li>
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a3.png') }}" alt="...">
										<i class="busy b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Dan Doorack</a></div>
										<small class="text-muted">Hamburg</small>
									</div>
								</li>
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a4.png') }}" alt="...">
										<i class="away b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Lauren Taylor</a></div>
										<small class="text-muted">London</small>
									</div>
								</li>
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a5.png') }}" alt="..." class="img-circle">
										<i class="on b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Chris Fox</a></div>
										<small class="text-muted">Milan</small>
									</div>
								</li>
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a6.png') }}" alt="...">
										<i class="on b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Amanda Conlan</a></div>
										<small class="text-muted">Copenhagen</small>
									</div>
								</li>
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a7.png') }}" alt="...">
										<i class="busy b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Dan Doorack</a></div>
										<small class="text-muted">Barcelona</small>
									</div>
								</li>
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a8.png') }}" alt="...">
										<i class="away b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Lauren Taylor</a></div>
										<small class="text-muted">Tokyo</small>
									</div>
								</li>
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a9.png') }}" alt="..." class="img-circle">
										<i class="on b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Chris Fox</a></div>
										<small class="text-muted">UK</small>
									</div>
								</li>
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a1.png') }}" alt="...">
										<i class="on b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Amanda Conlan</a></div>
										<small class="text-muted">Africa</small>
									</div>
								</li>
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a2.png') }}" alt="...">
										<i class="busy b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Dan Doorack</a></div>
										<small class="text-muted">Paris</small>
									</div>
								</li>
								<li class="list-group-item">
									<span class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm">
										<img src="{{ url_for('static', filename='images/a3.png') }}" alt="...">
										<i class="away b-light right sm"></i>
									</span>
									<div class="clear">
										<div><a href="#">Lauren Taylor</a></div>
										<small class="text-muted">Brussels</small>
									</div>
								</li>
							</ul>
						</section>
						<footer class="footer footer-md bg-black">
							<form class="" role="search">
								<div class="form-group clearfix m-b-none">
									<div class="input-group m-t m-b">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-sm bg-empty text-muted btn-icon"><i class="fa fa-search"></i></button>
										</span>
										<input type="text" class="form-control input-sm text-white bg-empty b-b b-dark no-border" placeholder="Search members">
									</div>
								</div>
							</form>
						</footer>
					</section>              
				</aside-->
				<!-- / side content -->
			</section>
			<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
		</section>
{% endblock content %}
