{% extends "base.html" %}

{% block content %}
<section id="content">
  <section class="vbox">
    <section class="scrollable">
      <section class="hbox stretch">
        <aside class="aside-lg bg-light lter b-r">
          <section class="vbox">
            <section class="scrollable">
              <div class="wrapper">
              <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                  <form data-validate="parsley">
                    <section class="panel panel-default">
                      <header class="panel-heading">
                        <span class="h4">Change Password</span>
                      </header>
                      <div class="panel-body">
                        <p class="text-muted">Please fill the information to continue</p>
                        <div class="form-group">
                          <label>Old Password</label>
                          <input type="password" class="form-control" data-required="true">                        
                        </div>
                        <div class="form-group">
                          <label>New Password</label>
                          <input type="password" class="form-control" data-required="true" id="pwd">                        
                        </div>
                        <div class="form-group">
                          <label>Confirm Password</label>
                          <input type="password" class="form-control" data-equalto="#pwd" data-required="true">
                        </div>
                      </div>
                      <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-success btn-s-xs">Submit</button>
                      </footer>
                    </section>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-offset-3">
                  <form data-validate="parsley">
                    <section class="panel panel-default">
                      <header class="panel-heading">
                        <span class="h4">Delete Account</span>
                      </header>
                      <div class="panel-body">
                        <p class="text-muted">This action cannot be reversed.</p>
                        <div class="form-group">
                          <label>Password</label>
                          <input type="password" class="form-control" data-required="true">                        
                        </div>
                      </div>
                      <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-danger btn-s-xs">Delete Account</button>
                      </footer>
                    </section>
                  </form>
                </div>
              </div>
              </div>
            </section>
          </section>
        </aside>
      </section>
    </section>
  </section>
  <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
</section>

{% endblock content %}