{% include 'header.html' %}
  <section id="content" class="m-t-lg wrapper-md animated fadeInUp">    
    <div class="container aside-xl">
      <a class="navbar-brand block" href="index.html"><span class="h1 font-bold">Musik</span></a>
      <section class="m-b-lg">
        <header class="wrapper text-center">
          <strong>Sign in to get in touch</strong>
        </header>
        <form method="post" action="{{ url_for('signin') }}">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.email(class='form-control rounded input-lg text-center no-border', placeholder='Email') }}
          </div>
          <div class="form-group">
          {{ form.password(class='form-control rounded input-lg text-center no-border', placeholder='Password') }}
          </div>
          <div class="checkbox i-checks m-b">
            <label class="m-l">
              <input type="checkbox" checked=""><i></i> Agree the <a href="#">terms and policy</a>
            </label>
          </div>
          {{ form.submit(class='btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded') }}
          <!--button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign up</span></button-->
        </form>
        <div class="text-center m-t m-b"><a href="#"><small>Forgot password?</small></a></div>
        <div class="line line-dashed"></div>
        <p class="text-muted text-center"><small>Do not have an account?</small></p>
        <a href="{{ url_for('signup') }}" class="btn btn-lg btn-info btn-block rounded">Create an account</a>
      </section>
    </div>
  </section>
{% include 'footer.html' %}